@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Orbitron:wght@900 & display=swap");
:root {
  --comic: "Comic Neue", cursive, "Raleway", sans-serif;
  --happy: "Happy Monkey";
  --game: "Orbitron", sans-serif;
}
html,
body {
  overflow-x: hidden !important;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  cursor: none;
}
.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: yellow;
  z-index: 999;
}
header {
  overflow: hidden;
}
header h1 {
  color: white;
  font-size: 50px;
}
.header_baixo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
}
main h1 {
  font-family: var(--happy);
  font-size: 90px;
}
.header_baixo video {
  object-fit: cover;
  width: 100vw;
}
.separado {
  position: absolute;
  background-image: linear-gradient(90deg, rgb(104, 77, 226), transparent);
  height: 111%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.separado h1 {
  font-family: var(--game);
  font-size: 60px;
}
.separado * {
  margin-left: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 0px 10px;
}
.explicacao,
.dia_especial {
  display: flex;
  gap: 9px;
}
.explicacao p,
.dia_especial p {
  font-size: 24px;
  font-family: var(--comic);
}
.explicacao img,
.dia_especial img {
  width: 40%;
}
.fotos {
  background-color: tomato;
  padding: 40px;
}
.swiper {
  width: 100vw;
  height: 50vh;
  z-index: 10;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper:hover {
  cursor: pointer;
}
.jogos {
  display: grid;
  grid-template-columns: 450px 1fr;
  justify-items: center;
  background-color: lightblue;
  width: 100vw;
  gap: 40px;
  height: 100%;
  padding: 10px;
}
.jogoSco {
  width: 65vw;
  height: 70vh;
}
.jogoApenas {
  width: 60vw;
  height: 80vh;
}
.adivinha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
}
.botoes {
  display: flex;
  gap: 30px;
}
.adivinha input {
  padding: 9px;
  border-radius: 20px;
  border: none;
}
.adivinha button {
  padding: 9px;
  background-color: lightcoral;
  border-radius: 20px;
  border: none;
  font-family: monospace;
}
canvas {
  border-radius: 30px;
}
/* Header */
.header_cima {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: rgb(245, 176, 176);
  z-index: 900;
  top: 0;
  width: 100vw;
  height: 20vh;
}
.header_cima img {
  width: 6%;
}
.header_cima h1 {
  color: yellow;
  font-family: var(--happy);
}
.header_cima a {
  text-decoration: none;
  font-size: 30px;
  font-family: var(--comic);
  background-size: 300%;
  transition: .5s;
}
.header_cima a:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(40deg,blue,blue,yellow,lightblue,lightcoral,blue);
  animation: colorido 9s linear alternate infinite;
}
@keyframes colorido {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 300%;
  }
}
/* Footer */
footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
footer {
  font-family: monospace;
}
.informacoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.informacoes a {
  color: rgb(90, 90, 90);
  text-decoration: none;
  transition: .5s;
}
.informacoes p {
  margin-top: 30px;
}
.informacoes a:hover {
  color: rgb(53, 53, 53);
}
.integrantes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: 300px;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}
.integrantes a {
  text-decoration: none;
}

.button:hover svg path {
  fill: #181717;
}