* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  cursor: none;
}
.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: yellow;
  z-index: 800;
}
header {
    overflow-y: hidden;
}
.header_baixo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
}
.header_baixo video {
  object-fit: cover;
  width: 100vw;
}
.separado {
  position: absolute;
  background-image: linear-gradient(90deg, rgb(104, 77, 226), transparent);
  height: 111vh;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.separado h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.separado * {
    margin-left: 20px;
}
.header_button {
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

.header_button:before,
.header_button:after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  transition: all 0.2s linear;
}

.header_button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.header_button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.header_button:hover {
  cursor: crosshair;
}

.header_button:active {
  transform: scale(0.95);
}

.header_button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.header_button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

.header_button span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 0px 10px;
}
.explicacao,.dia_especial {
  display: flex;
  gap: 9px;
}
.explicacao p,.dia_especial p{
  font-size: 24px;
}
.explicacao img,.dia_especial img {
  width: 40%;
}